<h1>Panel administratora</h1>
<div class="list-group">
  <a href="/admin/all-users" class="list-group-item"><i class="fa fa-users" aria-hidden="true"></i> Wyświetl wszystkich użytkowników</a>
  <a href="/admin/all-orders" class="list-group-item"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Wyświetl wszystkie zamówienia</a>
  <a href="/admin/products" class="list-group-item"><i class="fa fa-database" aria-hidden="true"></i> Zarządzanie produktami</a>
</div>